<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
        

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {% include "header.html" %}

        <div id="content" class="bg-dark">
            <div class="container p-5">
                <h1><u>Overview</u></h1>
                <small><strong class="text-light">Here you can see and manage all your current abstinences</strong></small>
                <table class="table mt-5">
                    <thead class="thead-light">
                    <tr class="text-light text-center">
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Time</th>
                        <th scope="col">Record</th>
                        <th scope="col">Options</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for abst in abstinences %}
                            <tr class="text-light text-center align-middle">
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ abst.name }}</td>
                                <td class="counter" data-value="{{ abst.uuid }}"></td>
                                <td class="pr" data-value="{{ abst.uuid }}"></td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-primary" value="{{ abst.uuid }}" onclick="reset(this);">Try again</button>
                                        <button type="button" class="btn btn-outline-danger" value="{{ abst.uuid }}" onclick="stop(this);">Stop trying</button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        
        <script>
            function stop(obj) {
                $.post("/stop/" + $(obj).attr("value"), {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }, function(data) {
                    location.reload();
                });
            };

            function reset(obj) {
                $.post("/reset/" + $(obj).attr("value"), {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                })
            }
            
            function load_time(abstinence) {
                $.ajax({
                    url: "/time/" + abstinence,
                    type: 'GET',
                    dataType: 'json',
                    success: function(res) {
                        $(".counter[data-value='" + abstinence + "']").html(res["time"]);
                        $(".pr[data-value='" + abstinence + "']").html(res["pr"]);
                    }
                });
            }

            function loadAll() {
                $(".counter").each(function(i, obj) {
                    let abstinence = $(this).attr("data-value");
                    load_time(abstinence);
                });
            }

            $(document).ready(function() {
                loadAll();
            })
            var interval = window.setInterval(function() {
                loadAll();
            }, 1000)
        </script>
    </body>
</html>